body {
    background-color:#EEEEEE;
	font-size: 16px;
	padding:0px;
    padding-top: 90px;
}
/** todo list */
.todolist{
    background-color:#FFF;
    padding:10px 20px 10px 20px;
}
.todolist h1{
    margin:0;
    padding-bottom:20px;
    text-align:center;
}
.form-control{
    border-radius:0;
}
li.ui-state-default{
    background:#fff;
    border:none;
    border-bottom:1px solid #ddd;
}

li.ui-state-default:last-child{
    border-bottom:none;
}

.todo-footer{
    background-color:#F4FCE8;
    margin:0 -20px -10px -20px;
    padding: 10px 20px;
}
#done-items li{
    padding:10px 0;
    color: red;
    border-bottom:1px solid #ddd;
    text-decoration:line-through;
    display: block;
}
#done-items li:last-child{
    border-bottom:none;
}
#checkAll{
    margin-top:10px;
}

input[type=text].form-control {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.04) inset;
}
.highlighted-box {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.1);
    background: #fff;
    border: 1px solid #cccccc;
}
.top-margin-20 {
    margin-top: 20px;
}
